---
BasedOnStyle: InheritParentConfig
IncludeCategories:
  - Regex: '^".*"$'
    Priority: 1
  - Regex: "^<cstd.*>$"
    Priority: 3
  - Regex: "^<.*[.].*>$"
    Priority: 2
  - Regex: "^<.*>$"
    Priority: 4
BreakTemplateDeclarations: Yes

# These are set in the parent config, but clang-format 22 does not propagate
# them through InheritParentConfig, so they must be repeated here.
# See https://github.com/llvm/llvm-project/issues/184880
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: true
